.addBtn {
   display: flex;
   justify-content: center;
   & button {
      height: 35px;
      background-color: transparent;
      &:hover {
         transform: rotate(180deg);
         transition: transform 0.4s ease-in-out;
      }
   }
}
