.addBtn {
   display: flex;
   justify-content: center;
   & button {
      height: 35px;
      background-color: transparent;
      &:hover {
         animation: addRotate 0.5s ease-in-out;
      }
   }
}

@keyframes addRotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(180deg);
   }
}
