.gymExercises {
   background-color: #232323;
   margin: 20px 50px 0 50px;
   border-radius: 10px;
   box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.7);
   height: calc(100vh - 395px);
   min-height: 125px;
   overflow: auto;
   padding-bottom: 20px;
   & > span {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0 0 10px;
   }
   & .exercises {
      margin: 20px 20px;
   }
}
