.musсleGroups {
   width: 25%;
   background-color: #2a2a2a;
   margin: 10px 10px 10px 0;
   border-radius: 10px;
   box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   & button {
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      background-color: #994ec5;
      padding: 10px;
      border: 1px solid #c5c5c5;
      text-transform: uppercase;
      &:hover {
         background-color: #a83ee6;
      }
   }
}
