.exercise {
   margin-bottom: 20px;
   background-color: #e2e2e2;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: space-between;
   align-items: center;
   &:hover {
      & .center {
         & button {
            opacity: 0.3;
         }
      }
   }
   & .exerciseNameInput {
      width: 300px;
      background-color: transparent;
      border: 1px solid #969696;
      color: #6f6f6f;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
      padding: 2px 5px;
   }
   & .exerciseNameDiv {
      color: #cb0a0a;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
   }

   & .exerciseList {
      position: relative;
      display: flex;
      margin-bottom: 5px;
      & .exerciseItem {
         margin-right: 20px;
         padding: 10px 4px 10px 20px;
         color: #fff;
         background: linear-gradient(157deg, #373ca9 0%, #38b9b3 100%);
         border-radius: 10px;
         & .deleteBtn {
            background-color: transparent;
            margin: 0 4px;
            opacity: 0;
         }
         &:hover {
            & .deleteBtn {
               opacity: 0.5;
               &:hover {
                  opacity: 1;
                  transform: scale(1.2);
                  transition: transform 0.3s ease-out;
               }
            }
         }
      }
   }
   & .commentInput {
      width: 400px;
      background-color: transparent;
      border: 1px solid #969696;
      color: #6f6f6f;
      border-radius: 5px;
      padding: 2px 5px;
      font-size: 13px;
   }
   & .commentDiv {
      color: #6f6f6f;
      font-size: 13px;
   }
   & .center {
      display: flex;
      align-items: center;
      & button {
         background-color: transparent;
         margin-left: 10px;
         opacity: 0;
         &:hover {
            opacity: 1;
            transform: scale(1.2);
            transition: transform 0.3s ease-out;
         }
      }
   }
}
