.group {
   margin-bottom: 4px;
   & input {
      display: none;
      &:checked + label {
         background: linear-gradient(305deg, #373ca9 0%, #38b9b3 100%);
      }
   }
   & label {
      display: block;
      text-transform: uppercase;
      padding: 7px 0 7px 10px;
      font-size: 14px;
      border-radius: 5px;
      color: #fff;
      background: linear-gradient(135deg, #505050 0%, #212121 100%);
      &:hover {
         background: linear-gradient(135deg, #616161 0%, #313131 100%);
      }
   }
}

.enter {
   opacity: 0;
   transform: translateX(150px);
}
.enterActive {
   opacity: 1;
   transform: translateX(0);
   transition: opacity 0.4s, transform 0.4s;
}
.exit {
   opacity: 1;
}
.exitActive {
   opacity: 0;
   transform: translateX(150px);
   transition: opacity 0.4s, transform 0.4s;
}
