.calendar {
   flex: 1 1 75%;
   margin: 10px;
   background-color: #232323;
   border-radius: 10px;
   box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.7);
   & .selects {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px 5px;
      user-select: none;
      & .btnMonth {
         color: #fff;
         font-size: 30px;
         background-color: transparent;
      }
      & select {
         color: #fff;
         cursor: pointer;
         background-color: transparent;
         font-size: 20px;
      }
      & .year {
         display: flex;
         align-items: center;
         & p {
            font-size: 20px;
            margin: 0 12px;
            color: #fff;
         }
         & .btnYear {
            color: #fff;
            font-size: 18px;
            background-color: transparent;
         }
      }
   }
   & table {
      color: #fff;
      border-spacing: 0;
      width: 100%;
      height: 220px;
      & thead {
         height: 25px;
         background-color: #afacac;
      }
      & tbody {
         & .day {
            text-align: center;
            cursor: pointer;
            border: 1px solid transparent;
            &:hover {
               border: 1px solid #41b0e0;
            }
            &.today {
               background: linear-gradient(157deg, #373ca9 0%, #38b9b3 100%);
            }
         }
      }
   }
}
