.header {
   padding: 12px;
   background-color: #232323;
   display: flex;
   justify-content: center;
   & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1350px;
      & h3 {
         font-family: Lobster;
         font-weight: normal;
         font-size: 20px;
         color: #fff;
      }
      & button {
         font-size: 14px;
         font-weight: bold;
         background-color: transparent;
         color: #fff;
      }
   }
}
